.LoginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% da altura da tela */
    background-color: #f5f5f5;
}

.loginForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 12px;
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.input {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    padding: 10px;
    background-color: #ce679a;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #c4448e;
}

.signup {
    margin-top: 16px;
    color: #b10e8d;
    text-decoration: none;
}

.signup:hover {
    text-decoration: underline;
}